<div class="jumbotron">

  <h4>All Categories:</h4>  
  <div class="row"> 

  {{#each allCategories}}
  <div class="col-lg-4 mx-auto">
    
    <div class="card mt-4 mx-auto " style="width: 20rem;">
    <a class="mx-auto text-dark" href="/meals/{{this.strCategory}}">
    <img src="{{this.strCategoryThumb}}" class="card-img-top main-img mt-4" alt="img">
    
    <div class="card-body mx-auto">
      
      <h5 class="card-title">{{this.strCategory}}</h5>
      
      </a>
    </div>

    </div>
     
  </div>
  {{/each}}

</div>

</div>
